* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
}

.header-text {
    color: #f9faf8;
    font-weight: bold;
}

.upper-right {
    margin-left: auto;
    margin-right: 200px;
    display: flex;
    gap: 40px;
    margin-bottom: none;
}

.header img {
    height: 100px;
    width: 125px;
    max-height: 100%;
    margin-left: 200px;
}

.upper-right a {
    text-decoration: none;
    color: #e5e7eb;
}

.main {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 50px;
}

.main-content {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giphy-embed {
    width: 240px;
    height: 240px;
    margin-left: 100px;
    border-radius: 15px;
}

.main-title {
    flex-flow: column wrap;
}

.main-title h1 {
    font-size: 60px;
}

.grossman {
    display: block;
    margin-top: 50px;
}

.grossman a {
    text-decoration: none;
    color: #e5e7eb;
}

.grossman .button {
    border: none;
    border-radius: 3em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    width: auto;
    background-color: #3882f6;
}

.mid-body {
    padding-top: 25px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.brando,
.ledger,
.depp,
.farrell {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
}

.photos img {
    width: 240px;
    height: 240px;
    max-height: 100%;
    border-style: solid;
    border-radius: 40px;
    border-color: #3882f6;
}

.sub {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.sub-text p {
    max-width: 1000px;
}

.sub .sub-quote {
    display: flex;
    margin-left: 500px;
    font-weight: bold;
    margin-top: 25px;
}

.bottom {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.blue-box {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 1200px;
    max-width: 1200px;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.example {
    display: block;
}

.example a {
    text-decoration: none;
    color: #e5e7eb;
}

.example .button {
    border: none;
    border-style: solid;
    border-color: #e5e7eb;
    border-radius: 3em;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    width: auto;
    background-color: #3882f6;
}

.blue-left {
    margin-left: 75px;
}

.example {
    margin-right: 75px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
}